<div  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 bg-white border-bottom sticky-top">
  <h1 class="h2">Участники</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <td><%= link_to  students_path(format: "xls"), class: 'btn' do%>
          <i class="fas fa-save"></i> Скачать
          <% end %>
          </td>
    </div>
  </div>
</div>



<%= render 'students/table_students' %>

