<% @events.each do |event| %>
  <div class="col-sm-4">
    <div class="card" onclick="window.location.href = 'events/<%=event.id%>'">
      <%= image_tag event.photo.url, class: 'card-img-top' if event.photo? %>
      <div class="card-body">
        <h4 class="card-title"><%= event.name %></h4>
        <p class="card-text"><%= event.information %></p>
      </div>
    </div>
  </div>
<% end %>