<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Участники "<%= @event.name %>"</h1>
  <div>
    <div >
      <%= link_to new_student_path(:event_id => @event.id), remote: true, class: "btn" do%>
      <i class="fas fa-user-plus"></i> Добавить
      <% end %>
      <%= link_to show_students_path(format: "xls"), class: 'btn margin-right-1rem' do%>
      <i class="fas fa-save"></i> Скачать
      <% end %>
    </div>
  </div>
</div>











<%= render 'students/table_students' %>



