<footer class="container py-4 pdf_exclude">
  <div class="main row">
    <div class="col-6">
      <span class="shild">Профсоюз студентов МГТУ им. Н.Э. Баумана</span>
    </div>
    <div class="col-6 container-right-small-info">
      <div class="col-auto small-info">
        <a href="https://google.com">Задать вопрос</a>
      </div>
    </div>
  </div>
</footer>