<nav class="sticky-top top-2rem">
  <div class="row padding-none margin-none">

  </div>
  <div class="row padding-none margin-none">
    <div class="width-min padding-R-1rem padding-none">
      <%= link_to "/", class: 'btn' do %>
        <i class="far fa-arrow-alt-circle-left"></i> На главную
      <% end %>
    </div>
    <div class="width-min padding-R-1rem padding-none">
      <%= link_to events_path, class: 'btn' do %>
        <i class="fas fa-theater-masks"></i> Мероприятия
      <% end %>
    </div>
<!--    <div class="width-min padding-R-1rem padding-none">-->
      <%#= link_to students_path, class: 'btn' do %>
<!--        <i class="fas fa-users"></i> Участники-->
      <%# end %>
<!--    </div>-->

  </div>




</nav>
